.section-work {
    padding-top: 0px;
  }
  .section-hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/herobackgroun.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--hero-background);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }